* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MontSerrat";
}

main {
    display: flex;
    
}

/* Trabalhando a parte do MENU*/
#container_01 {
    width: 20%;
    height: 100vh;
    background-color: #c5c5c5
}

.navList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;  
}

.navTxt {  
    width: 98%; 
    margin-right: 7rem;
    margin-bottom: 1.82em ;
    list-style: none;
    padding: 2em;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 0  15px 15px 0;
    background-color: #3b9af8;
    opacity: 0.8;
    cursor: pointer;
}


.navTxt:hover {
    opacity: 1;
    color: #f2f2f2;
    font-weight: bolder;
}

.navTxt a {
    text-decoration: none;
    color: #f2f2f2;
}

/*Trabalhando o Container 02*/

#container_02 {
    width: 85%;
    height: 100vh;
    overflow: hidden;
}

/*Trabalhando na Header*/

#image_header{
    width: 1380px;
    height: 130px;
    background-image: url(/img/img_header.jpg);
    background-position: center;
    background-size: cover   
}

#image_header_02 {width: 1380px;
    height: 130px;
    background-image: url(/img/img_header_sobre.jpg);
    background-position: center;
}

#image_header_03 {width: 1380px;
    height: 130px;
    background-image: url(/img/img_header_horario.jpg);
    background-position: center;
}

#image_header_04 {width: 1380px;
    height: 130px;
    background-image: url(/img/img_header_contato.jpg);
    background-position: center;
}

#content {
    height: 72vh;
    padding: 2em;
}

#content h1 {
    font-size: 25pt;
    color: gray;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.08);
}

#content h2 {
    font-size: 18pt;
    color: gray;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.08);
    margin-bottom: 1em;
}

.contentInicio {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.imageContent{
    width: 300px;
    height: 300px;
    background-image: url(/img/img_medico.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.imageContent_01{
    width: 300px;
    height: 300px;
    background-image: url(/img/img_medica_sobre.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.txtContent{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;   
}


.txtContent h1{
    margin-bottom: 1em;
    font-weight: 18pt;
}

.txtContent p {
    text-align: justify;
    line-height: 2;
}

/*Trabalhando o Footer*/

#rodape{
    height: 12vh;
    background-color: #3b9af8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-weight: 400;
    opacity: 0.85;
}

/*TRABALHANDO A ABA SECTION*/


#contentHorario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}

#tabela_01 {
    justify-content: center;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.horario {    
    width: 500px;
    align-items: center;
    text-align: center;
}

.horarioLinha {
    background-color: #3b9af8;
    color: #f2f2f2;    
}

table tbody tr:nth-child(even) td{
     background-color: #9ac1e8;
     
}

table tbody tr:hover{
    background-color: #e9e9e9;
}

.txtContentHorario{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;   
}

.txtContentHorario h1{
    margin-bottom: 1em;
    font-weight: 18pt;
}

.txtContentHorario p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 1em;
}

.txtContentHorario h2{
    margin-bottom: 0.5em;
    font-weight: 14pt;
}

/*TRABALHANDO A ABA CONTATO*/

#contentForm {  
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contentForm h1 {
    margin-bottom: 0.5em;
    font-size: 38pt;
}

#contentForm p {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: gray;
}

.formTxt {
    width: 50%;
    margin-left: 100px;
}

.form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.formInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    width: 450px;
}

.formInputs input {
    width: 75%;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.formInputs select {
    width: 74.5%;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.formInputs span {
    display: flex;
    flex-direction: column;
    align-items: initial;
    
}

.buttonGroup{
    display: flex;
}

.formList button {
    background-color: #3b9af8;
    padding: 1.5em;
    border: none;
    width: 46%;
    border-radius: 15px;
    margin-left: 3%;
    color: #f2f2f2;
    font-size: 12pt;
    opacity: 0.85;
    transition: 0.1s;
}

.formList button:hover{
    opacity: 1;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}


